<div class="row px-2 pb-4 text-center">
  <div class="col-md-4">
    <h2 class="mt-5">¿Quiénes somos?</h2>
    <img src="../../assets/9.png">
    <p>Somos un restaurante dedicado a complacer los paladares más exigentes del universo.</p>
  </div>
  <div class="col-md-4">
    <h2 class="mt-5">¿Qué hacemos?</h2>
    <img src="../../assets/10.png">
    <p>La comida más rica del mundo wuuuu.</p>
  </div>
  <div class="col-md-4">
    <h2 class="mt-5">¿Por qué nosotros?</h2>
    <img src="../../assets/11.png">
    <p>Pues, ¿por qué no?</p>
  </div>
</div>

