
.row{
    color: #feffbd;
  }
  
  .row h2{
    font-family: "Quicksand", sans-serif;
  }
  
  .row p{
    font-family: "Indie Flower", cursive;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  